<!DOCTYPE html>
<html lang="{% block lang %}en{% endblock %}">
<head>
  <meta charset="utf-8">
  <meta name="title" content="{{ metaTitle }}">
  <meta name="description" content="{{ metaDescription }}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="{{ company.name }}">
  <meta name="theme-color" content="#d91f2d">
  {% block meta %}{% endblock %}

  <title>{% block pageTitle %}{% endblock %} | {{ company.name }}</title>

  <link rel="icon" href="/asset/manifest/favicon.png" type="image/png">
  <link rel="icon" href="/asset/manifest/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/asset/manifest/apple-touch-icon.png">
  <link rel="manifest" href="/asset/manifest/manifest.webmanifest">

  <link rel="stylesheet" href="/css/style.css">

  <script>
    let PND = {
      util: {},
      component: {}
    };
  </script>

  {% block extraHeadAssets %}{% endblock %}
</head>
<body class="body-{{ pageSlug }} body-full-screen {% block extraBodyClasses %}{% endblock %}">

  <main class="site-body-main">
    {% block body %}Hello World{% endblock %}
  </main>

  {# {% include "common/grid-overlay.twig" %} #}

  {% block extraFootAssets %}{% endblock %}

  <!-- JS Templates -->
  <template data-name="testTemplate">
    {# {% include "../component/test-template.twig" %} #}
  </template>

  <script src="/script/page.js" type="module"></script>
</body>
</html>
