<aside id="sideNavigation" class="side-navigation" style="display: none;"
  data-portfolio-selected="{{portfolioSelected}}">
  <div id="sideNavBurgerButton" class="burger-menu">
    <div class="burger-bar-1"></div>
    <div class="burger-bar-2"></div>
    <div class="burger-bar-3"></div>
  </div>
  <div id="sideNavigationMenu" class="side-navigation-menu">
    {% include "logo.twig" %}
    <ul class="side-links">

      {% for key, nav in navigation %}
        {% set loopIndex = loop.index - 1 %}
        <li {% if current == loopIndex %}class="active"{% endif %}>
          <a href="/{{nav.page}}" class="side-link {{nav.name}}"
            data-index="{{loopIndex}}" data-slug="{{nav.slug}}">{{nav.title}}</a>
        </li>
      {% endfor %}

    </ul>
    <div class="social-media-container">
      {% include "social-media-links.twig" with {"id": "sideSocialLinks"} %}
    </div>
  </div>
</aside>